@import '../../assets/styles/config/_queries.less';

.test-selector {
  position: relative;

  label {
    color: white;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 300;
  }

  input {
    margin-left: auto;
    margin-right: auto;
  }

  .test-box {
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tests-form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tests-form {
    width: 100%;
  }

  .submit-button-holder {
    width: 100%;
    padding: 20px;
  }

  .submit-button {
    float: right;
    margin: 10px;
  }
}
