ul.scenarios {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  .scenario button {
    padding: 1rem;
    border-radius: 2px;
    margin-right: 1rem;
  }
  .scenario.selected button {
    background-color: #fff6;
  }
}

.charts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .chart {
    width: 50%;
    margin-top: 1rem;
  }
}
