@import '../../assets/styles/config/_fonts.less';

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: rgb(28, 28, 28);
  font-size: 16px;
  line-height: 1.4rem;
}

a {
  color: #d3553f;
}

::selection {
  background: #00a5b1;
  color: white;
}

h1,
h2,
h3 {
  font-family: imperial-urw, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-weight: 800;
  font-size: 40px;
}

em {
  font-weight: bold;
  font-style: normal;
}

.underline {
  line-height: 30px;

  &:after {
    background-color: #c51a1b;
    margin-top: 30px;
    width: 200px;
    height: 2px;
    max-width: 100%;
    display: block;
    content: '';
    margin: 0.5rem 0 2rem 0;
  }
}

label {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  display: block;
  line-height: 14px;
}

button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1;
  font-size: 15px;
  padding: 12px 24px;
  padding-right: 24px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  outline-style: none;
  border-radius: 20px;
  border: none;
  background: #00a5b1;
  color: #fff;

  &:hover {
    color: #00a5b1;
    background: #fff;
  }
}

.btn {
  border-width: 1px;
  border-style: solid;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);

  &:hover {
    border-color: #00a5b1;
    color: #00a5b1;
    background: rgba(255, 255, 255, 0.8);
  }

  &.icon {
    padding-right: 50px;

    i {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
    }
  }
}

main {
  section {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    max-width: 1200px;
    position: relative;
    display: flex;
  }
}

.half {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.shoutout {
  align-self: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2em;
  text-align: center;
  display: inline-block;
  background: #007bff;
  color: #fff;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
  background-image: url(../images/lawyer.png);
  box-shadow: 0 16px 24px 0 rgba(0, 1, 6, 0.32);
  width: 400px;
  margin-top: -10rem;

  p {
    text-align: left;
    font-weight: bold;
  }
}

.action-box {
  padding: 2em;
  background-color: rgb(105, 120, 129);
  margin: 2em 0 0 0;
  position: relative;
  width: 100%;
  box-shadow: 0 16px 24px 0 rgba(0, 1, 6, 0.32);
  border: 2px solid rgb(105, 120, 129);
  .title {
    display: flex;

    .number {
      color: rgb(105, 120, 129);
      background-color: white;
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 35px;
      font-weight: bold;
      line-height: 50px;
      position: relative;

      span {
        position: relative;
        left: 15px;
      }
    }

    h2 {
      color: #fff;
      margin-top: 0;
      margin-left: 1rem;
      font-weight: lighter;
    }

    .underline {
      &:after {
        background-color: #fff;
      }
    }
  }

  &.primary {
    background-color: #00a5b1;

    .number {
      color: #00a5b1;
    }
  }

  .container {
    display: flex;
  }

  .input {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px 20px;
  }
}

input {
  .font-default();
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 7px 10px;
  outline-style: none;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.triangle {
  position: absolute;
  content: ' ';
  bottom: -49px;
  left: 50%;
  margin-left: -80px;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 50px solid rgb(105, 120, 129);
}

.results-drop {
  padding: 2em;
  margin: 2em 0 0 0;
  position: relative;
  width: 100%;
  border: 2px solid #697881;
  border-top-color: rgb(105, 120, 129);
  border-top-style: solid;
  border-top-width: 2px;
  border-top: 0;
  position: relative;
  top: -36px;
  padding-top: 6em;
  z-index: -1;
  opacity: 0;
  transition: all ease-in 500ms;
  .result {
    display: flex;
    flex-direction: row;
  }
  &.open {
    margin-top: 0;
    opacity: 1;
  }
}

section.input {
  flex-direction: column;

  .action-box {
    width: auto;
  }

  .results-drop {
    width: auto;
  }
}

.chart {
  h3.title {
    margin-top: 0;
    text-align: center;
    color: #697881;
  }
}
