@import '../../assets/styles/config/_fonts.less';
@import '../../assets/styles/config/_queries.less';

.country-selector {
  .container {
    align-items: flex-start;

    @media @small {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 470px) {
      display: block;
    }
  }

  .world {
    margin-left: 2rem;
    width: 55%;
    text-align: center;

    @media @small {
      margin: 2rem 0 0;
    }

    @media (max-width: 470px) {
      width: 100%;
    }
  }

  .action {
    @media (max-width: 470px) {
      margin-top: 1rem;
    }
  }

  .country-form {
    display: flex;
    align-items: flex-end;

    @media (max-width: 470px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .form-column {
    margin: 15px;

    @media (max-width: 470px) {
      margin: 0 15px;
    }
  }

  label {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    display: block;
    line-height: 14px;
  }

  .country-info-select {
    .font-default();
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 145px;
    background-color: white;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 4px 10px;
    outline-style: none;
    font-size: 13px;
    font-weight: 300;
  }
}

.svg-map {
  fill: rgba(255, 255, 255, 0.2);
  stroke: rgba(255, 255, 255, 0);
  stroke-width: 1px;

  .selected {
    fill: white;
  }
}

.countries-list {
  .font-default();
  width: 170px;
  font-size: 13px;
  border-radius: 10px;
  padding: 0px 10px;
  position: absolute;
  background-color: white;
  font-weight: 300;
  cursor: pointer;
  overflow-y: scroll;
  z-index: 10;
  max-height: 300px;
}
