@import '_queries';

.font-default {
  font-family: Roboto, sans-serif;
  font-size: 17px;
  @media @small {
    font-size: 11px;
  }
  @media @large {
    font-size: 19px;
  }
}

#fontSize() {
  small: 0.9rem;
  medium: 1rem;
  large: 1.5rem;
}

.roboto-light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
