.scenario-editor {
  .columns {
    .col {
      margin: 0 1em;
      flex-grow: 1;
      width: inherit;
      max-width: 250px;
    }
  }
  h3 {
    color: white;
    cursor: pointer;
    svg {
      top: 3px;
      position: relative;
    }
  }
  h2 {
    color: white;
  }
  .scenario {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 15px 20px;
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    .form-column {
      flex-grow: 1;
      input {
        width: 100%;
        max-width: 280px;
      }
      input[type='text'] {
        max-width: 200px;
      }
      input[type='checkbox'] {
        width: auto;
      }
      textarea {
        height: 200px;
      }

      @media (max-width: 470px) {
        margin: 0 15px;
      }
    }
  }
}

.scenario-list {
  .react-tabs__tab {
    color: white;
    border: 1px solid white;
    border-right: none;
    padding: 1em;
    text-transform: uppercase;
    &:last-of-type {
      border-right: 1px solid white;
    }
  }

  .react-tabs__tab--selected {
    border-radius: 0;
    color: rgb(105, 120, 129);
  }

  .react-tabs__tab-list {
    margin: 0;
    border: none;
    border-bottom: 1px solid white;
  }
}

.columns {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.add-scenario {
  color: White;
  padding: 0 1rem;
  cursor: pointer;
}
